<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
<link rel="stylesheet" href="/static/styles2.css">
{%include "nav.html"%}
<form action="" method="POST">
    <h1>Log In</h1>
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    <button type="submit">Submit</button>
    <a href="{{url_for("register")}}" id="text">Don't have an account? Sign up</a>
    
</form>
    
</body>
</html>