<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand">Aaron's Portfolio</a>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for("portfolio")}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for("contact")}}">Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for("login")}}" >Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for("register")}}" >Sign up</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>