<div class="container px-4 py-5" id="repo" style="margin-bottom:20px;">
    <h1 class="pb-2 border-bottom" style="color: #7ac2e0">Projects</h1>
    <div  class="botter-bottom mt-4 mt-4 pb-4 display-6" id="banner">
        {% for project in names_projects %}
           <div class="border-bottom row" style="margin-bottom:20px;">
            <h2><b style="color: #d29397">{{project["Project"]}}</h2></b>
            <div style="margin-bottom:21px;">
            <b>Programming languages: </b>{{project["Programming languages"]}}
            <div style="margin-bottom:21px;">
            <b>Repository: </b>{{project["Link"]}}</div>
           </div> 
        </div>
        {% endfor %}
    </div>
    </div>
</div>  