<div class="container px-4 py-5" id="icon-grid">
  <h1 class="pb-2 border-bottom" style="color: #7ac2e0">Skillset</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-warning" style="color: #e5e5b7 " >Python</h3>
        <p style="margin-top:5px">I'm experienced in Flask, Django and TKinter. I have created applications from implementing OOP designs to web scrapping applications that communicate with APIs</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4"style="color: #00008b">Java</h3>
        <p style="margin-top:5px">I have expericence creating full-stack applications, mobile applications, and GUIs that utilize the JavaFX framework</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4 " style="color: #cdd0dc">TypeScript</h3>
        <p style="margin-top:5px">I have worked on projects creating web applications using TypeScript and have proficiency in using the Angular framework.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4" style="color: #7ac2e0">HTML</h3>
        <p style="margin-top:5px">Proficent in HTML concepts. I have experience working with HTML syntax. I have developed and deployed many high funtional websites.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4" style="color: #754131">CSS</h3>
        <p style="margin-top:5px"> I created robust websites using CSS. I have mastered concepts like Classes, Containers and other CSS elements to create stylish websites .</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4" style="color: #bd8e69">SQL</h3>
        <p style="margin-top:5px">From relational to non-relational databases. I have developed a vast amount of query effecient databases in MySQL, NoSQL, and SQLite.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4" style="color: #065535">C++</h3>
        <p style="margin-top:5px">I have led and contributed to various C++ projects, ranging from high-performance trading systems to complex simulation software. These projects often required rigorous testing and validation, which I ensured through comprehensive unit tests and continuous integration practices.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
      <div>
        <h3 class="fw-bold mb-0 fs-4" style="color: #d8b2d8 " >Data Structures and Algorithms</h3>
        <p style="margin-top:5px">I've spent several years honing my skills in data structures and algorithms, which are fundamental to my approach in solving complex programming problems efficiently. My experience spans from academic coursework to practical application in various projects and competitive programming.</p>
      </div>
    </div>
  </div>
</div>